article {
    position: relative;
    background: linear-gradient(120deg , #cc2B5E, #753A88);
    padding: 1rem;
}

article::after{
    content: '';
    background-color: #161E2E;
    display: block;
    position: absolute;
    top: 10px;
    left: 10px;
    width: calc(100% - 1rem);
    color: white;
    height: calc(100% - 1rem);
}
article h1 {
    color: white;
    position: relative;
    z-index: 2;
}
:root{
    --primary: #fe9e34;
}
html,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    background:  url('construction.jpg') no-repeat ;
    background-size: cover;
    mix-blend-mode: normal;
    font-family: sans-serif;
}
svg{
    width: 50px;
    height: 50px;
    color: var(--primary);
}
h1{
    color: var(--primary);
    font-weight: bold;
    font-size: 4rem;
    letter-spacing: 3px;
}
h4{
    color: white;
    margin-bottom: 50px;
    width: 80%;
    line-height: 1.5;
}
.container {
    width: 65%;
    margin-left: 10%;
    padding-top: 20vh;
    
}
.box-container{
    display: flex;
    width: 100%;
    gap: 15px;
}
.box-container .box {
    padding: 1rem;
    border-top: 5px solid var(--primary);
    width: 100%;
    background-color: rgba(256,256,256,0.5)
}
.box h2{
    font-weight: 700;
    font-size: 28px;
    color: rgba(0, 0, 50, 1.0);
}
.box p{
    color: rgba(0,0,50,0.5);
}
